# ENVIRONMENT VARIABLES FOR CONTAINERS
# Rename to .env and add values to 

DJANGO_SECRET_KEY= # Generate this using django.core.management.utils.get_random_secret_key

POSTGRES_USER= # pick a username
POSTGRES_DB= # pick a DB name
POSTGRES_PASSWORD= # pick a password

STRIPE_PUBLISHABLE_KEY= # Your Stripe test account public key https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET_KEY= # Your Stripe test account secret key https://dashboard.stripe.com/test/apikeys
STRIPE_ENDPOINT_SECRET= # Any webhook listener secret