.manzer-nav {
  background-image: url("https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?cs=srgb&dl=pexels-dana-tentis-370799.jpg&fm=jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 2px 4px #9a9a9a;
  border-radius: 4px;
  text-align: center;
}

.my-header {
  line-height: 2;
  color: rgba(255, 255, 255, 0.75);
  font-size: xx-large;
  font-weight: 800;
}
