html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
  margin-top: 4em;
}

.manzer-nav {
  background-image: url("https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?cs=srgb&dl=pexels-dana-tentis-370799.jpg&fm=jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 2px 4px #9a9a9a;
  border-radius: 4px;
  text-align: left;
  height: 4rem;
}

.my-header {
  line-height: 2;
  color: rgba(255, 255, 255, 0.75);
  font-size: xx-large;
  font-weight: 800;
  margin-left: 2em;
}

.fh {
  height: 100%;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4em;
}

.pt-1 {
  padding-top: 1em;
}

.gd-looncrest {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  min-height: 10em;
}

.alert {
  border-radius: 10px;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.alert-info {
  color: #0d47a1;
  background-color: #e3f2fd;
}
.alert-warning {
  background-color: #fff8e1;
  color: #ff6f00;
}
.alert-success {
  color: #1b5e20;
  background-color: #e8f5e9;
}
.alert-error {
  color: #b71c1c;
  background-color: #ffebee;
}

#error-message {
  border-radius: 8px;
  padding: 2em;
  background-color: #ffcdd2;
  color: #b71c1c;
  box-shadow: 2px 4px #ffebee;
  margin: 1.5em;
}

.input-group {
  box-shadow: 0 3.9px 4.6px rgba(0, 0, 0, 0.08),
    0 12.3px 8.4px rgba(0, 0, 0, 0.056), 0 18.8px 19.2px rgba(0, 0, 0, 0.037),
    0 22px 40px rgba(0, 0, 0, 0.019);
  line-height: 1.75;
  background-color: white;
  margin: 1em 2em;
  padding: auto;
}
.input-group:focus {
  border-bottom: 1px solid #304ffe;
}

.bg-grey {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 2em;
}

.field {
  height: 2em;
}

#card-errors {
  font-family: "Raleway", sans-serif;
  color: #b71c1c;
  line-height: 1.75;
  background-color: #ffebee;
  padding: 1em;
  display: none;
}

button.flex-button {
  display: block;
  background: #0288d1;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
}
button.flex-button:hover {
  background: #0277bd;
}
button.flext-button:active {
  background: #01579b;
}

div.card.active {
  border: #0797eb 4px solid;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
