{% extends "base.html" %}

{% block title %}
    Thanks!
{% endblock title %}

{% block main %}
<section class="valign-wrapper ">
    <div class="card">
        <div class="card-image">
            <image src="https://images.pexels.com/photos/40663/fireworks-rocket-new-year-s-day-new-year-s-eve-40663.jpeg?cs=srgb&dl=pexels-pixabay-40663.jpg&fm=jpg"></image>
            <span class="card-title">Thanks!</span>
        </div>
        <div class="card-content">
            <p>We really like it when you buy stuff.  It makes us happy</p>
        </div>
        <div class="card-action center-align">
            <a href="/" class="btn indigo darken-3 tooltipped" data-tooltip="Go Home">
                <i class="material-icons">home</i>
            </a>
        </div>
    </div>
</section>
{% endblock main %}