<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="https://images.pexels.com/photos/7135077/pexels-photo-7135077.jpeg?cs=srgb&dl=pexels-gradienta-7135077.jpg&fm=jpg" alt="">
                <span class="white-text name">Integration Navigation</span>
            </div>
        </div>
    </li>
    <li><a href="">Foo</a></li>
    <li><a href="">Bar</a></li>
    <li><a href="">Baz</a></li>
    <li><a href="">Stuff</a></li>
    <li><a href="">Thing</a></li>
</ul>
<nav class="manzer-nav ">
    <div class="nav-wrapper">

    
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <a href="/" class="my-header">
        Supermanzer Shopping
    </a>
    <ul class="nav-list right hide-on-med-and-down">
        <li>
            <a href="{% url 'payments:dispute-list' %}">Disputes</a>
        </li>
    </ul>
    </div>
</nav>

